<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="{% static '' %}{{ app_name }}/style.css" media="all">
</head>
<body>

<div class="main__container">
    <h1 id="topic" class="topic">Topic</h1>
    <h2 id="question" class="question">Question</h2>
    <form id="choices" class="choices">
        <div class="choice">
            <button type="button" id="true">True</button>
        </div>
        <div class="choice">
            <button type="button" id="false">False</button>
        </div>
    </form>
</div>


<script src="{% static '' %}{{ app_name }}/script.js"></script>
</body>
</html>