<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basic Tetris</title>
    <link rel="stylesheet" type="text/css" href="{% static '' %}{{ app_name }}/style.css" media="all">
</head>
<body>
<div class="info"v>
   <button id="pause">Pause</button>
   <h1>Score: <strong id="score">0</strong></h1>
</div>

<div id="board"></div>
<script src="{% static '' %}{{ app_name }}/script.js"></script>
</body>
</html>