<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sticky Notes</title>
    <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '' %}{{ app_name }}/style.css" media="all">
</head>
<body>
<button class="add-sticky-note__btn" type="button">+ Add sticky note</button>
<ul>
</ul>
<script src="{% static '' %}{{ app_name }}/script.js"></script>
</body>
</html>