:root {
    --serif-font-family: 'Playfair Display',serif;
    --text-font-family: 'Roboto', sans-serif;
    --black: #232323;
    --primary-color: #C3CBD9;
    --white: #FFFDFD;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin:0;
  padding:0;
}

html, body {
    overflow-x: hidden;
}

body {
	background-color: var(--primary-color);
	font-family: var(--text-font-family);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

button, .btn {
	border: 3px solid var(--black);
	cursor: pointer;
	display: inline-block;
	font-family: var(--text-font-family);
	font-size: 1rem;
	font-weight: 300;
	height: 60px;
	margin-top: 1em;
	padding: 16px;
    letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	width: 250px;
}

button:hover, .btn:hover,
button:focus, .btn:focus,
button:active, .btn:active,
input[type="checkbox"]:checked + label {
    background: var(--white);
    font-style: oblique;
    color: var(--black);
}

h1, h2, h3 {
    font-family: var(--serif-font-family);
    font-weight: 300;
}

.border-line {
	background: var(--black);
	display: inline-block;
	height: 3px;
	width: 75%;
}

/* contact */

.contact__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.contact__hdr {
    font-size: 3rem;
    margin-top: .5em;
}

.contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.contact-form > label {
    margin-top: 1em;
    margin-bottom: .5em;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.contact-form > input, .contact-form > textarea {
    background: none;
    border: 2px solid var(--black);
    max-width: 400px;
    outline: none;
    padding: 1em;
}

.contact-form > input:hover, .contact-form > textarea:hover,
 .contact-form > input:focus, .contact-form > textarea:focus {
    background: var(--white);
 }

.contact-form button {
    background: var(--black);
    color: var(--primary-color);
	margin: 1.5em 0;
}

.contact-form button:hover,
.contact-form button:focus,
.contact-form button:active {
    background: var(--white);
    font-style: oblique;
    color: var(--black);
}

.form-submitted {
    margin: 1em 0;
    padding: 1em;
}

.form-submitted h3 {
    font-size: 2rem;
}

.form-submitted p {
    font-size: 1.5rem;
}

.input-error {
    border: 2px solid #e50000 !important;
    position: relative;
}

.error-text__container {
	display: flex;
	flex-direction: row;
	margin-right: 2em;
	color: #e50000;
}

label.error > div > span::before {
	content: '\0021';
	display: block;
	background-color: #e50000;
	color: white;
	height: 25px;
	width: 25px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	font-weight: 700;
	border-radius: 50%;
	text-align: center;
}

label.success > div > span::before {
	content: '\2713';
	display: block;
	background-color: green;
	color: white;
	height: 25px;
	width: 25px;
	position: absolute;
	top: 0;
	right: 0;
	font-weight: 700;
	border-radius: 50%;
	text-align: center;
}