<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Full Stack Developer portfolio.">
    <title>30 Days of Javascript Gallery</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'gallery/style.css' %}" media="all">
</head>
<body>
<section id="projects" class="projects__container">
        <h1 class="section-header">01 Gallery</h1>
        <div class="projects__container--inner">
                    <div class="projects__gallery">
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day1:Index' %}" target="_blank" rel="noreferrer">
                                Pop It Fidget Toy (Neumorphic Style)
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\popit.png' %}');" aria-label="Pop It Fidget Toy (Neumorphic Style)"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day1:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Pop It Fidget Toy</h2>
                                <span class="project__link__background"></span>
                            </a>

                            <div class="project__desc">
                                <input id="info_watch" type="checkbox">
                                <label for="info_watch" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    A digital version of the popular fidget toy.<br>
                                    Contains string interpolation, Math, EventListener, and array methods.
                                    <br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day1" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day2:Index' %}" target="_blank" rel="noreferrer">
                                Dark Mode Toggle
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\darkmodetoggle.png' %}');" aria-label="Dark Mode Toggle"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day2:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Dark Mode Toggle</h2>
                                <span class="project__link__background"></span>
                            </a>

                            <div class="project__desc">
                                <input id="info_toggle" type="checkbox">
                                <label for="info_toggle" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Toggle switch between light and dark mode.<br>
                                    Localstorage keeps track of user's preferences.
                                    <br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day2" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day3:Index' %}" target="_blank" rel="noreferrer">
                                Countdown Timer
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\countdowntimer.png' %}');" aria-label="Countdown Timer"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day3:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Countdown Timer</h2>
                                <span class="project__link__background"></span>
                            </a>

                            <div class="project__desc">
                                <input id="info_countdown" type="checkbox">
                                <label for="info_countdown" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Countdown to a specified expiration date with
                                    Date(), setInterval(), and clearInterval().
                                    <br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day3" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day4:Index' %}" target="_blank" rel="noreferrer">
                                Calculator
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\calculator.PNG' %}');" aria-label="Calculator"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day4:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Calculator</h2>
                                <span class="project__link__background"></span>
                            </a>

                            <div class="project__desc">
                                <input id="info_calc" type="checkbox">
                                <label for="info_calc" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Perform basic equations.<br>
                                    Features keyboard navigation.
                                    <br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day4" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day5:Index' %}" target="_blank" rel="noreferrer">
                                Color Flipper
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\colorflipper.png' %}');" aria-label="Color Flipper"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day5:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Color Flipper</h2>
                                <span class="project__link__background"></span>
                            </a>

                            <div class="project__desc">
                                <input id="info_colorflip" type="checkbox">
                                <label for="info_colorflip" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Changes body random background color on click. Also converts HEX to RGB.<br>
                                    Features Array and Math methods, string handling, DOM manipulation, event handlers.
                                    <br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day5" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day6:Index' %}" target="_blank" rel="noreferrer">
                                Responsive Navigation Menu
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\responsivenav.png' %}');" aria-label="Responsive Navigation Menu"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day6:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Responsive Nav</h2>
                                <span class="project__link__background"></span>
                            </a>

                            <div class="project__desc">
                                <input id="info_respnav" type="checkbox">
                                <label for="info_respnav" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    CSS hides menu in smaller viewports, JS click events open them.<br>
                                    Features event handlers and toggle.
                                    <br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day6" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day7:Index' %}" target="_blank" rel="noreferrer">
                                Review Carousel
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\reviewcarousel.png' %}');" aria-label="Review Carousel"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day7:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Review Carousel</h2>
                                <span class="project__link__background"></span>
                            </a>

                            <div class="project__desc">
                                <input id="info_revcar" type="checkbox">
                                <label for="info_revcar" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Click left or right arrows to navigate testimonials.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day7" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day8:Index' %}" target="_blank" rel="noreferrer">
                                Modal
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\modal.png' %}');" aria-label="Modal"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day8:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Modal</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_modal" type="checkbox">
                                <label for="info_modal" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Modal appears after 2 second delay or click on order button.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day8" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day9:Index' %}" target="_blank" rel="noreferrer">
                                Background Video
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\backgroundvideo.png' %}');" aria-label="Background Video"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day9:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Background Video</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_bgvid" type="checkbox">
                                <label for="info_bgvid" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Pause and play background video.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day9" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day10:Index' %}" target="_blank" rel="noreferrer">
                                Change Nav On Scroll
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\navscroll.png' %}');" aria-label="Change Nav On Scroll"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day10:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Change Nav On Scroll</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_navscroll" type="checkbox">
                                <label for="info_navscroll" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Use Intersectional Observer to change navigation bar color when moving to different sections of page.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day10" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day11:Index' %}" target="_blank" rel="noreferrer">
                                Filter Menu
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\filtermenu.png' %}');" aria-label="Filter Menu"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day11:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Filter Menu</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_filtermenu" type="checkbox">
                                <label for="info_filtermenu" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Use Javascript filter method to filter through the data from a nodelist turned array.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day11" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day12:Index' %}" target="_blank" rel="noreferrer">
                                Task List
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\todo.png' %}');" aria-label="Task List"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day12:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Task List</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_todo" type="checkbox">
                                <label for="info_todo" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Utilizes localStorage and CRUD.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day12" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day13:Index' %}" target="_blank" rel="noreferrer">
                                Rock, Paper, Scissors
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\rockpaperscissors.png' %}');" aria-label="Rock, Paper, Scissors"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day13:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Rock, Paper, Scissors</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_rockpaperscissors" type="checkbox">
                                <label for="info_rockpaperscissors" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Utilizes Math methods and an object is used for comparing options.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day13" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day14:Index' %}" target="_blank" rel="noreferrer">
                                Whac-A-Mole
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\whacamole.png' %}');" aria-label="Whac-A-Mole"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day14:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Whac-A-Mole</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_whacamole" type="checkbox">
                                <label for="info_whacamole" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Utilizes Math methods, setIntervals, and DOM manipulation.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day14" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day15:Index' %}" target="_blank" rel="noreferrer">
                                Tic-Tac-Toe
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\tictactoe.png' %}');" aria-label="Tic-Tac-Toe"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day15:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Tic-Tac-Toe</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_tictactoe" type="checkbox">
                                <label for="info_tictactoe" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Utilizes Array, comprehension, every, some, and DOM manipulation.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day15" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day16:Index' %}" target="_blank" rel="noreferrer">
                                Snake Game
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\snake.png' %}');" aria-label="Snake Game"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day16:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Snake Game</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_snake" type="checkbox">
                                <label for="info_snake" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Create game loop and position elements with CSS grid.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day16" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day17:Index' %}" target="_blank" rel="noreferrer">
                                Tetris Game
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\tetris.png' %}');" aria-label="Tetris Game"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day17:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Tetris Game</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_tetris" type="checkbox">
                                <label for="info_tetris" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Create game loop and position elements with CSS grid.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day17" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day18:Index' %}" target="_blank" rel="noreferrer">
                                Image Slider
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\imgslider.png' %}');" aria-label="Image Slider"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day18:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Image Slider</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_imgslider" type="checkbox">
                                <label for="info_imgslider" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Setinterval method rotatoes through images automatically, arrow and indicators can be clicked to select image the user wants to view.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day18" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day19:Index' %}" target="_blank" rel="noreferrer">
                                Match Game
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\matchgame.png' %}');" aria-label="Image Slider"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day19:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Match Game</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_matchgame" type="checkbox">
                                <label for="info_matchgame" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Find all of the matching pairs to complete and win the game.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day19" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day20:Index' %}" target="_blank" rel="noreferrer">
                                Simon Game
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\simongame.png' %}');" aria-label="Simon Game"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day20:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Simon Game</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_simongame" type="checkbox">
                                <label for="info_simongame" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Press the tiles in the same order as the computer.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day20" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day21:Index' %}" target="_blank" rel="noreferrer">
                                Form Validation
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\formvalidation.png' %}');" aria-label="Form Validation"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day21:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Form Validation</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_formvalidation" type="checkbox">
                                <label for="info_formvalidation" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Set parameters for input values and display error message when parameters are not met.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day21" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day22:Index' %}" target="_blank" rel="noreferrer">
                                Eyes Follow Mouse
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\eyesfollowmouse.png' %}');" aria-label="Eyes Follow Mouse"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day22:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Eyes Follow Mouse</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_eyesfollowmouse" type="checkbox">
                                <label for="info_eyesfollowmouse" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Use x and y of mouse position to transform the position of the pupils.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day22" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day23:Index' %}" target="_blank" rel="noreferrer">
                                Fireflies
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\firefliesflying.png' %}');" aria-label="Fireflies"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day23:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Fireflies</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_firefliesflying" type="checkbox">
                                <label for="info_firefliesflying" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Fireflies appear,scattering and moving across the screen gently.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day23" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day24:Index' %}" target="_blank" rel="noreferrer">
                                Fireflies Spelling
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\firefliesspelling.png' %}');" aria-label="Fireflies Spelling"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day24:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Fireflies Spelling</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_firefliesspelling" type="checkbox">
                                <label for="info_firefliesspelling" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Fireflies appear,scattering and moving across the screen gently to form the words "Hello".<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day24" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day25:Index' %}" target="_blank" rel="noreferrer">
                                Weather Application
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\weatherapp.png' %}');" aria-label="Weather Application"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day25:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Weather Application</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_weatherapp" type="checkbox">
                                <label for="info_weatherapp" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Use location information to retrieve weather forecast with the National Weather Service API.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day25" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day26:Index' %}" target="_blank" rel="noreferrer">
                                Tarot Spread
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\tarot.png' %}');" aria-label="Tarot Spread"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day26:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Tarot Spread</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_tarot" type="checkbox">
                                <label for="info_tarot" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Free tarot card reading. Choose from multiple spread options.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day26" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day27:Index' %}" target="_blank" rel="noreferrer">
                                Shopping Cart
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\shoppingcart.png' %}');" aria-label="Shopping Cart"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day27:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Shopping Cart</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_shoppingcart" type="checkbox">
                                <label for="info_shoppingcart" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Add and remove items from shopping cart. Calculate total.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day27" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day28:Index' %}" target="_blank" rel="noreferrer">
                                Drag and Drop Sticky Notes
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\stickynotes.png' %}');" aria-label="Sticky Notes"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day28:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Sticky Notes</h2>
                                <span class="project__link__background"></span>
                            </a>
                            <div class="project__desc">
                                <input id="info_stickynotes" type="checkbox">
                                <label for="info_stickynotes" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    An experiment with drag and drop. Edit notes and place them around the screen.<br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day28" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                    </div>
        </div>
    </section>