<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Full Stack Developer portfolio.">
    <title>30 Days of Javascript Gallery</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'gallery/style.css' %}" media="all">
</head>
<body>
<section id="projects" class="projects__container">
        <h1 class="section-header">01 Gallery</h1>
        <div class="projects__container--inner">
                    <div class="projects__gallery">
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day1:Index' %}" target="_blank" rel="noreferrer">
                                Pop It Fidget Toy (Neumorphic Style)
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\popit.png' %}');" aria-label="Pop It Fidget Toy (Neumorphic Style)"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day1:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Pop It Fidget Toy</h2>
                                <span class="project__link__background"></span>
                            </a>

                            <div class="project__desc">
                                <input id="info_watch" type="checkbox">
                                <label for="info_watch" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    A digital version of the popular fidget toy.<br>
                                    Contains string interpolation, Math, EventListener, and array methods.
                                    <br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day1" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day2:Index' %}" target="_blank" rel="noreferrer">
                                Dark Mode Toggle
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\darkmodetoggle.png' %}');" aria-label="Dark Mode Toggle"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day2:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Dark Mode Toggle</h2>
                                <span class="project__link__background"></span>
                            </a>

                            <div class="project__desc">
                                <input id="info_toggle" type="checkbox">
                                <label for="info_toggle" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Toggle switch between light and dark mode.<br>
                                    Localstorage keeps track of user's preferences.
                                    <br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day2" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day3:Index' %}" target="_blank" rel="noreferrer">
                                Countdown Timer
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\countdowntimer.png' %}');" aria-label="Countdown Timer"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day3:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Countdown Timer</h2>
                                <span class="project__link__background"></span>
                            </a>

                            <div class="project__desc">
                                <input id="info_countdown" type="checkbox">
                                <label for="info_countdown" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Countdown to a specified expiration date with
                                    Date(), setInterval(), and clearInterval().
                                    <br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day3" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day4:Index' %}" target="_blank" rel="noreferrer">
                                Calculator
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\calculator.PNG' %}');" aria-label="Calculator"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day4:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Calculator</h2>
                                <span class="project__link__background"></span>
                            </a>

                            <div class="project__desc">
                                <input id="info_calc" type="checkbox">
                                <label for="info_calc" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Perform basic equations.<br>
                                    Features keyboard navigation.
                                    <br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day4" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                        <div class="project">
                            <a class="project__img__link" href="{% url 'Day5:Index' %}" target="_blank" rel="noreferrer">
                                Color Flipper
                                <div class="project__img" role="img" height="100%" width="100%" style="background-image: url('{% static 'gallery\images\colorflipper.png' %}');" aria-label="Color Flipper"></div>
                            </a>
                                <a class="project__link" href="{% url 'Day5:Index' %}" target="_blank" rel="noreferrer">
                                <h2 class="project__hdr">Color Flipper</h2>
                                <span class="project__link__background"></span>
                            </a>

                            <div class="project__desc">
                                <input id="info_colorflip" type="checkbox">
                                <label for="info_colorflip" class="btn tools__accordion" tabindex="0" role="button" aria-pressed="false" aria-expanded="false">Info<span></span></label>
                                <p class="project__desc--summary">
                                    Changes body random background color on click. Also converts HEX to RGB.<br>
                                    Features Array and Math methods, string handling, DOM manipulation, event handlers.
                                    <br>
                                    <a class="project__link" href="https://github.com/smena8/30days-javascript/tree/main/thirtydaysjs/day5" target="_blank" rel="noreferrer">Github
                                    </a>
                                </p>
                            </div>
                    </div>
                    </div>
        </div>
    </section>